services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin

  app:
    build:
      context: .
    container_name: notifications-service-micro
    depends_on:
      - rabbitmq
      - postgres
    ports:
      - "8080:8080"
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USERNAME: admin
      RABBITMQ_PASSWORD: admin
      DB_URL: postgresql+psycopg2://notifications:notifications@postgres:5432/notifications
      MAIL_USERNAME: ${MAIL_USERNAME:-}
      MAIL_PASSWORD: ${MAIL_PASSWORD:-}
      TWILIO_SID: ${TWILIO_SID:-}
      TWILIO_AUTH: ${TWILIO_AUTH:-}
      TWILIO_WHATSAPP_FROM: ${TWILIO_WHATSAPP_FROM:-}
      JWT_SECRET: ${JWT_SECRET:-changeThisInProd}

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: notifications
      POSTGRES_USER: notifications
      POSTGRES_PASSWORD: notifications
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U notifications -d notifications"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata:

